body {
    font-family: 'Nunito', sans-serif;
    background-color: #F2F2F2;
}


.buscador{
    text-align:right;
    margin: 2rem, 0;
}

.buscador input{
    border: 1px solid #80BDFF;
    width: 30%;

}

.tam{
    margin: 2rem, 0;
}

.tam select{
    border: 1px solid #80BDFF;
}

.extras{
    padding: .65rem 0;
    padding-bottom: .75rem;
}

.card-header{
    color:#F6F6FB;
}

#select-cat{
    border:1px solid #CED4DA;
    width:100%;
    height: 100%;
}

#label-cat{
    margin-bottom: 10px;
}

#sel{
    width: 80%;
}

#client-sel{
    width: 90%;
}

.row .det{
    padding: 0 .75rem;
    margin: .75rem 0;
}

.date{
    width: 100%;
}

#date-select{
    width: 100%;
}

#form-date{
    width: 100%;
}

#span-date{
    width: 90%;
}

